@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-grotesk: 'Space Grotesk', sans-serif;
  --color-gray-200: hsl(240, 5%, 91%);
  --color-purple-950: hsl(278, 68%, 11%);
  --color-grayLight: hsl(270, 3%, 87%);
  --color-grayDark: hsl(240, 5%, 70%);
  --color-gradientStart: hsl(249, 99%, 64%);
  --color-gradientEnd: hsl(278, 94%, 30%);
  --color-error-red: hsl(0, 100%, 66%);
}

:root {
  font-family: var(--font-grotesk);  
  font-size: 18px;
  font-weight: 500;
}

#card-form input {
  @apply border border-gray-300 text-grayDark text-sm rounded-lg px-4 py-2 ;
}

#card-form input:focus {
  border: 2px solid transparent;
  background: linear-gradient(white, white) padding-box, 
              linear-gradient(135deg, var(--color-gradientStart), var(--color-gradientEnd)) border-box;
}

#card-form input.error {
  @apply border-error-red;
  border-width: 2px;
}

#card-form input.error:focus {
  border: 2px solid var(--color-error-red);
  background: white;
}